<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .parentdiv1{
    width:100px;
    height:100px;
    border:1px solid #ff0000;
    margin-right:10px;
    float:left;
}
.childdiv1{
    float:left;
    margin-right:5px;
}
    </style>
    <meta charset="UTF-8">
    <title>All Services</title>
</head>
<body>
<h2>Polarity and Frequency Service</h2>
<p><b>Overall Polarity of the input text: </b> {{ pol_score }}</p><br/><br/>
<p>The top most frequent words are below with their frequency: </p><br/>
{{ freq_results }}


<h2>Similarity Service</h2>
<div clas="parentdiv">
<div class="childdiv1"'>
{% for table in table1 %}
            {{title1[loop.index]}}
            {{ table|safe }}
    {% endfor %}
</div>
<div class="childdiv2">
{% for table in table2 %}
            {{title2[loop.index]}}
            {{ table|safe }}
    {% endfor %}
</div>
</div>

<h2>Word Cloud Service</h2>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.4/d3.layout.cloud.js"></script>
<div>
<script>

  var word_freqs = {{ word_freqs|safe }};
  max_freq = {{ max_freq }};
  fill = d3.scale.category20();
  layout = d3.layout.cloud()
      .size([1000, 500])
      .words(word_freqs)
      .padding(5)
      .rotate(0)
      .font("Impact")
      .fontSize(function(d) {
         return (d.size/max_freq)*100;
      })
      .on("end", draw);

  layout.start();

  function draw(words) {
    d3.select("body").append("svg")
      .attr("width", layout.size()[0])
      .attr("height", layout.size()[1])
      .attr("style", "display: block; margin-left: auto; margin-right: auto; background: white; text-align: center;")
      .append("g")
      .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
      .selectAll("text")
      .data(words)
      .enter().append("text")
      .style("font-size", function(d) { return d.size + "px"; })
      .style("font-family", "Impact")
      .style("fill", function(d, i) { return fill(i); })
      .attr("text-anchor", "middle")
      .attr("transform", function(d) {
        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
      })
      .text(function(d) { return d.text; });
  }
</script>
</div>

<h2>POS Tagging Service</h2>
<p>{{ data }}</p>

<h2>Subjectivity Service</h2>
<p>
    Subjectivity for <b>{{ content }}</b> is   <b>{{ data1 }}</b>
</p>
</body>
</html>